{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block main %}

    <form action="">
        <label for="email">Email</label>
        <textarea name="email" id="email" cols="30" rows="10"></textarea>
        <button type="submit">Submit</button>
    </form> 
    <footer>
       <ul class="flex gap-4 items-center">
            <li><a href="#">{{ 'Mentions légales' }}</a></li>
            <li><span class="text-xl font-bold mr-4">•</span></li>
            <li><a href="#">{{ 'Contact' }}</a></li>
            <li><span class="text-xl font-bold mr-4">•</span></>
            <li><a href="#">{{ 'Lycée Saint-Vincent' }}</a></li>
        </ul>



    </footer>
{% endblock %}
