{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block main %}

    <form action="">
        <label for="email">Email</label>
        <textarea name="email" id="email" cols="30" rows="10"></textarea>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
