{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block main %}
	<div class="bg-slate-200 flex flex-col items-center  font-['Epilogue'] min-h-[95vh] ">
		<div class="w-full text-center lg:text-start">
			<h1 class="text-2xl	 md:text-4xl font-medium text-center lg:text-start text-blue-900 pt-12 px-6 pb-4">
				Accueil
			</h1>
		</div>
		<div class="bg-white rounded-md w-[95%] md:w-[97%] mx-0 p-3 md:p-7 min-h-[75vh]">
			<div class=" text-base	">
				Nous sommes ravis de vous accueillir sur
				<b>Math Index</b>, la plateforme mathématique exclusive du lycée Saint-Vincent Senlis. 
					                Développée avec passion pour enrichir l'expérience éducative de nos étudiants, cette ressource en ligne offre un accès 
					                simplifié à une vaste bibliothèque d'exercices mathématiques de qualité.
			</div>
			<br>
			<h1 class="text-lg">Explorez les Avantages Spécifiques à Notre Lycée :</h1><br>
			<p>1. Exercices Personnalisés : Découvrez une collection soigneusement sélectionnée d'exercices qui complètent notre programme éducatif, 
				            adaptés aux niveaux et aux besoins spécifiques de nos élèves.</p><br>
			<p>2. Soutien Pédagogique :
				<b>Math Index</b>
				sert de complément idéal à nos cours, offrant aux enseignants et aux étudiants un outil puissant pour
				             renforcer la compréhension des concepts mathématiques enseignés en classe.</p><br>
			<p>3. Collaboration Communautaire : En tant que membre de notre lycée, participez à la communauté en partageant vos propres exercices, 
				            collaborez avec d'autres enseignants et favorisez un environnement d'apprentissage collaboratif.</p><br>
		</div>
	</div>

{% endblock %}
