{# templates/admin/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier Utilisateur{% endblock %}

{% block body %}
<h1>Modifier Utilisateur</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Sauvegarder</button>
{{ form_end(form) }}

<a href="{{ path('app_admin') }}">Retour à la liste</a>
{% endblock %}
