{% extends 'base.html.twig' %}

{% block title %}Recherchez un exercice
{% endblock %}

{% block main %}
    <div class="bg-slate-200 flex flex-col items-center min-h-screen font-['Epilogue'] pb-5">
        <div class="w-full text-center lg:text-start">
            <h1 class="text-2xl	 md:text-4xl font-medium text-center lg:text-start text-blue-900 p-4">
                Rechercher un exercice
            </h1>
        </div>
        <twig:datatable/>
    </div>
{% endblock %}
