{% extends 'base.html.twig' %}

{% block title %}Recherchez un exercice
{% endblock %}

{% block main %}
	<div class="bg-slate-200 flex flex-col items-center min-h-screen font-['Epilogue'] pb-5">
		<div class="w-full text-center lg:text-start">
			<h1 class="text-2xl	 md:text-4xl font-medium text-center lg:text-start text-blue-900 p-4">
				Rechercher un exercice
			</h1>
		</div>
		<div class="bg-white rounded-md w-[95%]  md:w-[97%] mx-0 p-3 md:p-7">
			<div class="flex flex-col md:flex-row   gap-2">
				<div class="flex flex-col text-gray-500 md:w-[25%]">
					<p class="font-medium text-gray-600">Niveau :</p>
					<div id="customSelect" class="custom-select select-none md:w-[95%]">
						<div class="flex items-center justify-between text-gray-500 rounded-md border-gray-300 border border-solid h-11 px-2.5  select-selected cursor-pointer">
							<span>Collège</span>
							<svg class="arrow-down" width="12" height="8" viewbox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1.41 7.41L6 2.83L10.59 7.41L12 6L6 0L0 6L1.41 7.41Z" fill="#757575"/>
							</svg>
						</div>
						<div class="select-items border border-t-0 border-gray-300 hidden">
							<div class="flex items-center justify-between border-t border-gray-300 transition duration-200 hover:bg-gray-200 p-2.5 cursor-pointer">
								<span>Collège</span>
								<svg class="arrow-down" width="12" height="8" viewbox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1.41 7.41L6 2.83L10.59 7.41L12 6L6 0L0 6L1.41 7.41Z" fill="#757575"/>
								</svg>
                            </div>
								<div class="hidden">
									<div class="border-t border-gray-300 transition duration-200 hover:bg-gray-200 p-2.5 cursor-pointer">6ème</div>
									<div class="border-t border-gray-300 transition duration-200 hover:bg-gray-200 p-2.5 cursor-pointer">5ème</div>
									<div class="border-t border-gray-300 transition duration-200 hover:bg-gray-200 p-2.5 cursor-pointer">4ème</div>
									<div class="border-t border-gray-300 transition duration-200 hover:bg-gray-200 p-2.5 cursor-pointer">3ème</div>
								</div>
							</div>
							<div class="flex items-center justify-between border-t border-gray-300 transition duration-200 hover:bg-gray-200 p-2.5 cursor-pointer">
								<span>Lycée</span>
								<svg class="arrow-down" width="12" height="8" viewbox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1.41 7.41L6 2.83L10.59 7.41L12 6L6 0L0 6L1.41 7.41Z" fill="#757575"/>
								</svg>
							</div>
							<div class="hidden">
								<div class="border-t border-gray-300 transition duration-200 hover:bg-gray-200 p-2.5 cursor-pointer">Seconde</div>
								<div class="border-t border-gray-300 transition duration-200 hover:bg-gray-200 p-2.5 cursor-pointer">Première</div>
								<div class="border-t border-gray-300 transition duration-200 hover:bg-gray-200 p-2.5 cursor-pointer">Terminale</div>
							</div>
							<div class="flex items-center justify-between border-t border-gray-300 transition duration-200 hover:bg-gray-200 p-2.5 cursor-pointer">
								<span>BTS</span>
								<svg class="arrow-down" width="12" height="8" viewbox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1.41 7.41L6 2.83L10.59 7.41L12 6L6 0L0 6L1.41 7.41Z" fill="#757575"/>
								</svg>
							</div>
							<div class="hidden">
								<div class="border-t border-gray-300 transition duration-200 hover:bg-gray-200 p-2.5 cursor-pointer">BTS-01</div>
								<div class="border-t border-gray-300 transition duration-200 hover:bg-gray-200 p-2.5 cursor-pointer">BTS-02</div>
							</div>
							<div class="border-t border-gray-300 transition duration-200 hover:bg-gray-200 p-2.5 cursor-pointer">Licence</div>
						</div>
					</div>
				</div>

				<div class="flex flex-col text-gray-500 md:w-[25%]">
					<p class="font-medium text-gray-600">Thématique :</p>
					<div class="custom-select select-none w-[95%]">
						<div class="flex items-center justify-between text-gray-500 rounded-md border-gray-300 border border-solid h-11 px-2.5  select-selected cursor-pointer">
							<span>Analyse</span>
							<svg class="arrow-down" width="12" height="8" viewbox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1.41 7.41L6 2.83L10.59 7.41L12 6L6 0L0 6L1.41 7.41Z" fill="#757575"/>
							</svg>
						</div>
							{% for thematic in thematics %}
								<div class="select-items border border-t-0 border-gray-300 hidden">
									<div class="border-t border-gray-300 transition duration-200 hover:bg-gray-200 p-2.5 cursor-pointer">{{ thematic.name }}</div>
								</div>
							{% endfor %}
					</div>
				</div>
				<div class="flex flex-col text-gray-500 md:w-[25%]  ">
					<p class="font-medium text-gray-600">Mots clés :</p>
					<input class="text-gray-500 rounded-md border-gray-300 border border-solid h-11 w-3/4 p-2 outline-none md:w-[95%]"></input>
			</div>
			<div class="flex justify-center mt-6 md:w-[25%] ">
				<button class=" bg-slate-100  font-medium text-gray-600 rounded-md border-gray-300 border border-solid h-11 transition duration-200 hover:bg-slate-200  w-3/4 md:w-[65%]">Rechercher</button>
			</div>
		</div>

		<div class="mt-12">
			<p class="text-xl font-semibold text-blue-900">3 exercices trouvés</p>
			<div class="overflow-x-auto mt-5 rounded-xl border border-solid border-gray-200">
				<table class="w-full">
					<thead class="text-left h-12 bg-gray-100">
						<tr>
							<th class="w-[30%] font-medium px-6	py-3 rounded-tl-xl">Nom</th>
							<th class="font-medium px-6	py-3  ">Difficultés</th>
							<th class="font-medium px-6	py-3  ">Mots clés</th>
							<th class="font-medium px-6	py-3  ">Durée</th>
							<th class=" font-medium px-6	py-3 rounded-tr-xl	 ">Fichiers</th>
						</tr>
					</thead>
					<tbody>
						<tr class="border-t	border-solid border-gray-200">
							<td class="w-[30%] h-24 px-6	py-' ">Les suites suivantes sont-elles croissantes? Décroissantes?</td>
							<td class="px-6	py-4  ">Niveau 8</td>
							<td class="px-6	py-4  ">
								<span class="bg-gray-200 px-4 py-2 rounded-full">arithmétique</span>
								<span class="bg-gray-200 px-4 py-2 rounded-full">base</span>
							</td>
							<td class="px-6	py-4  ">4h00</td>
							<td class="px-6	py-4  ">
								<div class="flex gap-4 items-center">
									<a class="flex justify-center items-center gap-2 " href="#"><img src="assets/Vector.png" alt="Cliquer pour télécharger l'exercice"/>Exercice</a>
									<a class="flex justify-center items-center gap-2 " href="#"><img src="assets/Vector.png" alt="Cliquer pour télécharger l'exercice"/>Corrigé</a>
								</div>
							</td>
						</tr>
						<tr class="border-t	border-solid border-gray-200">
							<td class="px-6	py-4 ">Exercice sur une suite récurrente</td>
							<td class="px-6	py-4  ">Niveau 9</td>
							<td class="px-6	py-4  ">
								<span class="bg-gray-200 px-4 py-2 rounded-full">réccurrence</span>
							</td>
							<td class="px-6	py-4  ">1h00</td>
							<td class="px-6	py-4  ">
								<div class="flex gap-4 items-center">
									<a class="flex justify-center items-center gap-2 " href="#"><img src="assets/Vector.png" alt="Cliquer pour télécharger l'exercice"/>Exercice</a>
									<a class="flex justify-center items-center gap-2 " href="#"><img src="assets/Vector.png" alt="Cliquer pour télécharger l'exercice"/>Corrigé</a>
								</div>
							</td>
						</tr>
						<tr class="border-t	border-solid border-gray-200">
							<td class="px-6	py-4">Le flocon de Van Koch</td>
							<td class="px-6	py-4  ">Niveau 8</td>
							<td class="px-6	py-4  ">
								<span class="bg-gray-200 px-4 py-2 rounded-full">arithmétique</span>
							</td>
							<td class="px-6	py-4  ">2h00</td>
							<td class="px-6	py-4">
								<div class="flex gap-4 items-center">
									<a class="flex justify-center items-center gap-2" href="#"><img src="assets/Vector.png" alt="Cliquer pour télécharger l'exercice"/>Exercice</a>
									<a class="flex justify-center items-center gap-2" href="#"><img src="assets/Vector.png" alt="Cliquer pour télécharger l'exercice"/>Corrigé</a>
								</div>
							</td>
						</tr>
						<tr class="border-t	border-solid border-gray-200">
							<td class="px-6	py-4">Le flocon de Van Koch</td>
							<td class="px-6	py-4  ">Niveau 8</td>
							<td class="px-6	py-4  ">
								<span class="bg-gray-200 px-4 py-2 rounded-full">arithmétique</span>
							</td>
							<td class="px-6	py-4  ">2h00</td>
							<td class="px-6	py-4">
								<div class="flex gap-4 items-center">
									<a class="flex justify-center items-center gap-2" href="#"><img src="assets/Vector.png" alt="Cliquer pour télécharger l'exercice"/>Exercice</a>
									<a class="flex justify-center items-center gap-2" href="#"><img src="assets/Vector.png" alt="Cliquer pour télécharger l'exercice"/>Corrigé</a>
								</div>
							</td>
						</tr>
						<tr class="border-t	border-solid border-gray-200">
							<td class="px-6	py-4">Le flocon de Van Koch</td>
							<td class="px-6	py-4  ">Niveau 8</td>
							<td class="px-6	py-4  ">
								<span class="bg-gray-200 px-4 py-2 rounded-full">arithmétique</span>
							</td>
							<td class="px-6	py-4  ">2h00</td>
							<td class="px-6	py-4">
								<div class="flex gap-4 items-center">
									<a class="flex justify-center items-center gap-2" href="#"><img src="assets/Vector.png" alt="Cliquer pour télécharger l'exercice"/>Exercice</a>
									<a class="flex justify-center items-center gap-2" href="#"><img src="assets/Vector.png" alt="Cliquer pour télécharger l'exercice"/>Corrigé</a>
								</div>
							</td>
						</tr>
						<tr class="border-t	border-solid border-gray-200">
							<td class="px-6	py-4">Le flocon de Van Koch</td>
							<td class="px-6	py-4  ">Niveau 8</td>
							<td class="px-6	py-4  flex">
								<span class="bg-gray-200 px-4 py-2 rounded-full">arithmétique</span>
							</td>
							<td class="px-6	py-4  ">2h00</td>
							<td class="px-6	py-4">
								<div class="flex gap-4 items-center">
									<a class="flex justify-center items-center gap-2" href="#"><img src="assets/Vector.png" alt="Cliquer pour télécharger l'exercice"/>Exercice</a>
									<a class="flex justify-center items-center gap-2" href="#"><img src="assets/Vector.png" alt="Cliquer pour télécharger l'exercice"/>Corrigé</a>
								</div>
							</td>
						</tr>
						<tr class="border-t	border-solid border-gray-200">
							<td class="px-6	py-4">Le flocon de Van Koch</td>
							<td class="px-6	py-4  ">Niveau 8</td>
							<td class="px-6	py-4  ">
								<span class="bg-gray-200 px-4 py-2 rounded-full">arithmétique</span>
							</td>
							<td class="px-6	py-4  ">2h00</td>
							<td class="px-6	py-4">
								<div class="flex gap-4 items-center">
									<a class="flex justify-center items-center gap-2" href="#"><img src="assets/Vector.png" alt="Cliquer pour télécharger l'exercice"/>Exercice</a>
									<a class="flex justify-center items-center gap-2" href="#"><img src="assets/Vector.png" alt="Cliquer pour télécharger l'exercice"/>Corrigé</a>
								</div>
							</td>
						</tr>
						<tr class="border-t	border-solid border-gray-200">
							<td class="px-6	py-4">Le flocon de Van Koch</td>
							<td class="px-6	py-4  ">Niveau 8</td>
							<td class="px-6	py-4  ">
								<span class="bg-gray-200 px-4 py-2 rounded-full">arithmétique</span>
							</td>
							<td class="px-6	py-4  ">2h00</td>
							<td class="px-6	py-4">
								<div class="flex gap-4 items-center">
									<a class="flex justify-center items-center gap-2" href="#"><img src="assets/Vector.png" alt="Cliquer pour télécharger l'exercice"/>Exercice</a>
									<a class="flex justify-center items-center gap-2" href="#"><img src="assets/Vector.png" alt="Cliquer pour télécharger l'exercice"/>Corrigé</a>
								</div>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>

{% endblock %}