{% extends 'base.html.twig' %}

{% block title %}Suppression d'un utilisateur :
{% endblock %}

{% block body %}
	<div class="flex items-center justify-center min-h-screen bg-gray-100">
		<div class="w-[39%] mx-auto bg-white p-10 border border-gray-300 rounded-lg shadow">

			<div class="flex gap-4	">
        <a href="{{ path('app_contributor') }}" class="absolute top-4 right-4 cursor-pointer">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0L16 16H0V0ZM16 0L0 16H16V0Z" fill="#4F4F4F"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5858 5.17157L8 7.75735L5.41421 5.17157L4 6.58579L6.58579 9.17157L4 11.7574L5.41421 13.1716L8 10.5858L10.5858 13.1716L12 11.7574L9.41421 9.17157L12 6.58579L10.5858 5.17157Z" fill="white"/>
            </svg>
        </a>
				<div class="flex justify-center items-center w-[13%] bg-gray-200 rounded-md	">
					<svg width="40" height="40" viewbox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M14.5983 26.2169C17.8199 26.2169 20.7366 24.911 22.8479 22.7998C24.9591 20.6885 26.265 17.7718 26.265 14.5502C26.265 11.3286 24.9591 8.41191 22.8479 6.30063C20.7366 4.18938 17.8199 2.88354 14.5983 2.88354C11.3767 2.88354 8.46001 4.18938 6.34873 6.30063C4.23748 8.41191 2.93164 11.3286 2.93164 14.5502C2.93164 17.7718 4.23748 20.6885 6.34873 22.7998C8.46001 24.911 11.3767 26.2169 14.5983 26.2169Z" fill="#F5F5F5" stroke="#4F4F4F" stroke-width="2" stroke-linejoin="round"/>
						<path d="M9.93164 14.5503L13.4316 18.0503L20.4316 11.0503" stroke="#4F4F4F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</div>
				<div>
					<h2 class="text-2xl font-bold text-gray-900 ">Confirmez la suppression</h2>
					<p class="mt-2.5 text-[16px] text-gray-600 ">Êtes-vous certain de vouloir supprimer cette matière ?</p>
				</div>
			</div>

			{{ form_start(confirmationForm, {'attr': {'class': 'space-y-6'}}) }}
			<div class="flex items-center justify-center"></div>

			<div class="flex justify-center gap-4">
				<a href="{{ path('app_admin_course') }}" class="w-1/2	flex justify-center px-6 py-3 bg-gray-200 border border-transparent rounded-md font-semibold text-gray-700 hover:bg-gray-300 focus:outline-none focus:border-gray-300 focus:ring focus:ring-gray-200 transition ease-in-out duration-150">Annuler</a>
				<button type="submit" class="w-1/2	 px-6 py-3 bg-zinc-600		 border border-transparent rounded-md font-semibold text-white hover:bg-zinc-700 focus:outline-none focus:border-red-700 focus:ring focus:ring-red-200 transition ease-in-out duration-150">Confirmer</button>
			</div>
			{{ form_end(confirmationForm) }}
		</div>
	</div>

{% endblock %}