<p>Bonjour {{ user.firstname }}</p>
<p>Votre demande de réinitialisation a été prise en compte. Veuillez cliquer sur le lien ci-dessous afin de procéder à la réinitialisation.</p>
<a href="{{ url|raw }}">Cliquez ici</a>
<p>Merci, et à bientot sur SchoolIndex.</p>
