<p>Bonjour, {{ user.firstname }} {{user.lastname}} demande un changement de mot de passe.</p>
<p>Adresse email de la personne : {{user.email}}</p>
<p>Après changement, merci de notifier l’utilisateur de son nouveau mot de passe.</p>