<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}
            <meta name="view-transition" content="same-origin"/>
            <meta name="turbo-refresh-method" content="morph">
        {% endblock %}
        <meta name="description" content="{% block description %}SchoolIndex{% endblock %}">
        <title>{% block title %}SchoolIndex{% endblock %}</title>
        <link rel="icon"
              href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="w-full flex h-screen max-lg:flex-col">
            {% block aside_menu %}
                {% include 'layout/_aside.html.twig' %}
            {% endblock %}
        <div class="w-full flex flex-col">

            {% block header %}
                {% include 'layout/_top.html.twig' %}
            {% endblock %}

            <main data-turn-enter data-turn-exit class="ml-72 max-lg:ml-0">
                {% block main %}
                {% endblock %}
            </main>

            <footer class="bg-slate-200 mt-auto	">
                {% block footer %}
                {% include 'layout/footer.html.twig' %}
                {% endblock %}
            </footer>
        </div>
    </div>
{% endblock %}
</body>
</html>
