{# _layout.html.twig #}

<div class="lg:flex lg:flex-col w-[380px] h-full max-md: hidden">
    <div class="flex flex-col w-[90%] h-[90%] justify-center">
        <div class="flex items-center ml-6 mt-6 gap-4">
            <img src="assets/logo.png" alt="Logo du lycée Saint-Vincent" class="w-[40px]">
            <div>
                <h1 class="text-2xl font-epilogue font-medium text-[#1B3168]">School Index</h1>
                <h2 class="text-gray-500 font-epilogue">Lycée Saint Vincent - Senlis</h2>
            </div>
        </div>

        <div class="lg:flex lg:flex-col lg:ml-8 lg:mt-10  lg:h-full">
            <nav class=" flex flex-col justify-between h-full">
                <div class="flex-col flex gap-4 mt-12 ">
                    {% include "layout/_menu.html.twig" with {
                        image_name : "assets/home_icon.png",
                        page_name : "Accueil",
                        page_link : "/"
                    } %}

                    {% include "layout/_menu.html.twig" with {
                        image_name : "assets/search_icon.png",
                        page_name : "Recherche",
                        page_link : "/research"
                    } %}

                    {% include "layout/_menu.html.twig" with {
                        image_name : "assets/maths_icon.png",
                        page_name : "Mathématiques",
                        page_link : "/"
                    } %}

                    {% include "layout/_menu.html.twig" with {
                        image_name : "assets/my_exercices_icon.png",
                        page_name : "Mes exercices",
                        page_link : "/"
                    } %}

                    {% include "layout/_menu.html.twig" with {
                        image_name : "assets/submit_icon.png",
                        page_name : "Soumettre",
                        page_link : "/"
                    } %}
                </div>

                <div class="">
                    {% include "layout/_menu.html.twig" with {
                        image_name : "assets/disconnect_icon.png",
                        page_name : "Déconnexion",
                        page_link : "/login"
                    } %}
                </div>
            </nav>

        </div>
    </div>
</div>
