{# _menu.html.twig #}

<a href="{{ page_link }}" data-turbo-action="visit" class="lg:flex lg:gap-[10px] w-[70%] text-gray-500 hover:bg-gray-200 hover:text-blue-950 rounded-xl font-medium text-[18px] items-center">
    <img src="{{ image_name }}" class="lg:w-[40px] lg:h-[40px]" alt="Image correspondant au raccourci de la page {{ page_name }}.">
    {{ page_name }}
</a>
