{# _menu-responsive.html.twig #}

    {# Première partie du menu avec profil et menu burger #}

     
            <div class="relative sm:max-w-xl">
                   <nav x-data="{ open: false }" class="flex justify-around m-auto bg-slate-50">
                        <button class="text-gray-500 w-10 h-10 relative focus:outline-none  mt-[9px]" @click="open = !open">
                            <span class="sr-only">Open main menu</span>
                            <div class="block w-5 absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
                                <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out" :class="{'rotate-45': open,' -translate-y-1.5': !open }"></span>
                                <span aria-hidden="true" class="block absolute  h-0.5 w-5 bg-current   transform transition duration-500 ease-in-out" :class="{'opacity-0': open } "></span>
                                <span aria-hidden="true" class="block absolute  h-0.5 w-5 bg-current transform  transition duration-500 ease-in-out" :class="{'-rotate-45': open, ' translate-y-1.5': !open}"></span>
                            </div>
                        </button>

                        <div class="mt-[10px] mx-auto">
                            <img src="assets/logo.png" class="img-responsive " alt="Logo du lycée Saint-Vincent">
                        </div>

                        <div class=" mr-[10px] mt-[9px]">
                            <img src="images/pp.png" alt="Photo de profil utilisateur" class="bg-sky-200 rounded-full" >
                        </div>
                        
                    </nav>
            </div>

     {# Deuxième partie du menu avec scroll et les différentes sections #}

     <div class="whitespace-nowrap overflow-auto  bg-slate-50 ">
        
            {% include "layout/_composant-menu-responsive.html.twig" with {
                default_img : "assets/home_icon.png",
                menu_name : "Contributeurs",
            } %}

            {% include "layout/_composant-menu-responsive.html.twig" with {
                default_img : "assets/home_icon.png",
                menu_name : "Exercices",
            } %}

            {% include "layout/_composant-menu-responsive.html.twig" with {
                default_img : "assets/home_icon.png",
                menu_name : "Matières",
            } %}

            {% include "layout/_composant-menu-responsive.html.twig" with {
                default_img : "assets/home_icon.png",
                menu_name : "Classes",
            } %}

            {% include "layout/_composant-menu-responsive.html.twig" with {
                default_img : "assets/home_icon.png",
                menu_name : "Thématiques",
            } %}

            {% include "layout/_composant-menu-responsive.html.twig" with {
                default_img : "assets/home_icon.png",
                menu_name : "Compétences",
            } %}

            {% include "layout/_composant-menu-responsive.html.twig" with {
                default_img : "assets/home_icon.png",
                menu_name : "Origines",
            } %}




    </div>



</div>

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>


