<<<<<<< HEAD
<div class="w-full h-[4rem] bg-slate-50 flex justify-end items-center max-lg:hidden">
=======
<div class="lg:h-32 w-full h-30 flex justify-end items-center">
>>>>>>> e39d24f88a5177d5f654f64e4f8e0e35d05cf898
    <div class="flex pr-24 items-center gap-4 cursor-pointer justify-end	">
        <p class="font-['Poppins']	">Laurent Guyard</p>
        <img src="images/pp.png" alt="photo de profil" class="bg-sky-200 rounded-full 	" >
    </div>
</div>
