<div class="lg:h-32 w-full h-30 bg-slate-50 flex justify-end items-center">
    <div class="flex pr-24 items-center gap-4 cursor-pointer justify-end	">
        {% if app.user %}
        <p class="font-['Poppins']	">Laurent Guyard</p>
        <img src="{{ asset("images/pp.png") }} " alt="photo de profil" class="bg-sky-200 rounded-full" >
        {% else %}
        <img src="{{ asset("images/login-icon.png") }}" alt="">
        <p class="text-lg">Connexion</p>
        {% endif %}
    </div>
</div>
