<ul class="flex bg-slate-200 gap-3 items-center ml-[308px] max-lg:ml-[20px]">
	<li>
		<a href="#">{{ 'Mentions légales' }}</a>
	</li>
	<li class="point">
		<span class="text-xl font-bold mr-4 ">•</span>
	</li>
	<li>
		<a href="#">{{ 'Contact' }}</a>
	</li>
	<li class="point">
		<span class="text-xl font-bold mr-4">•</span>
	</li>
	<li>
		<a href="#">{{ 'Lycée Saint-Vincent' }}</a>
	</li>
</ul>
